/* Styles for form container */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
  margin: 50px auto;
}

/* Styles for labels */
.label {
  display: block;
  margin-bottom: 10px;
}

/* Styles for input fields */
.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
/* Styles for button */
.button {
  background-image: linear-gradient(to bottom, #4caf50, #2e8b57);
  color: #fff;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 10px 5px 30px 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.button:focus {
  outline: none;
}

.button:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to bottom, #5cb85c, #3d8b3d);
}

.button:active {
  box-shadow: none;
  outline: none;
  background-image: linear-gradient(to bottom, #5cb85c, #3d8b3d);
}
/* Styles for results table container */
.results-container {
  text-align: center;
  min-width: 320px;
  max-width: 400px;
  margin: 50px auto;
}

.results-container table {
  width: 100%;
  border-collapse: collapse;
}

.results-container th,
.results-container td {
  padding: 2px;
  border: 1px solid #ddd;
}

.results-container th {
  background-color: #5a5a5a;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: lighter;
}

.realAmountInput {
  width: 100px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  outline: none;
}
/* Media Queries */

@media only screen and (max-width: 600px) {
  .container {
    width: 280px;
    padding: 10px;
  }
  .results-container {
    width: 280px;
    padding: 10px;
  }
  .input-field {
    padding: 6px;
    font-size: 12px;
  }
  .button {
    padding: 10px 17px;
    font-size: 12px;
  }

  .results-container th,
  .results-container td {
    padding: 3px;
  }

  .results-container th {
    font-size: 12px;
    padding: 6px;
  }
}
