/* Styles for form container */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
  margin: 50px auto;
}

/* Styles for labels */
.label {
  display: block;
  margin-bottom: 10px;
}

/* Styles for input fields */
.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.buttons-container {
  display: flex;
}
/* Styles for button */
.button {
  background-image: linear-gradient(to bottom, #4caf50, #45a049);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Hover effect for button */
.button:hover {
  background-color: #45a049;
}

/* Styles for results table container */
.results-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  margin: 50px auto;
}

.results-container table {
  width: 100%;
  border-collapse: collapse;
}

.results-container th,
.results-container td {
  padding: 8px;
  border: 1px solid #ddd;
}

.results-container th {
  background-color: #f2f2f2;
}

/* Media Queries */

/* For small mobile devices (width less than 600px) */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .input-field,
  .button {
    padding: 8px;
    font-size: 14px;
  }
}

/* For large mobile devices (width less than 900px) */
@media only screen and (max-width: 900px) {
  .container {
    width: 80%;
  }
}
